header{
    flex-direction: row;
    padding-left: 25px;
    padding-right: 25px; 
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 10px;
    gap: 20px;
}

main div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    padding: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

